<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/ScrollToPlugin.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/main.css">

    <title>Horse Heads Inc.</title>
</head> <!--End head-->

<body>
    <main>
        <h1 class="hidden">Horse Heads Inc.</h1>

        <div class="container">
            <!--Header-->
            <header id="mainHeader">
                <!-- Header Content -->
                <div id="headerCon">
                    <!--Logo-->
                    <div id="logoCon">
                        <a href="#"><img src="images/logo.svg" alt="Horse Heads Inc. Logo" id="logo"></a>
                    </div> <!--End logoCon-->

                    <!-- Header Text -->
                    <h3 id="headerText">Horse Heads Inc.</h3>

                    <!-- Menu button -->
                    <div id="menuButton">
                        <div id="lines">
                            <div id="line1"></div>
                            <div id="line2"></div>
                            <div id="line3"></div>
                        </div> <!-- End lines -->
                    </div> <!-- End menuButton -->
                </div> <!-- End headerCon -->

                <!--Main navigation-->
                <nav id="mainNav">
                    <h2 class="hidden">Main Navigation</h2>

                    <ul id="burgerMenu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul> <!--End burgerMenu-->
                </nav> <!--End mainNav-->
            </header> <!--End mainHeader-->

            <!--Hero-->
            <div id="hero">
                <h2 class="hidden">Hero Area</h2>

                <!--Hero text-->
                <h3>Hyper Realistic!</h3>
                <p>People may actually believe that you're a horse!</p>

                <!--Hero Image-->
                <img src="images/horse_mask_hero.jpg" alt="Horse Mask Hero" id="heroImage">
            </div> <!--End hero-->

            <!--Info and images-->
            <div id="content">
                <h2 class="hidden">Page Content</h2>

                <div id="contentText">
                    <h3>Can't Be Beat!</h3>
    
                    <p>These masks are literally the coolest thing that you can own! When you have guests, wear your horse mask to make sure that they feel welcome and comfortable. There is no wrong place to wear your horse mask! Wear it to school, to work, even to your wedding!</p>
                        
                    <p>Our masks are made with only the highest quality materials: real horse hair, teeth, eyes, and skin. This ensures the highest level of realism possible!</p>
    
                    <button id="buyButton">BUY NOW!</button>
                </div> <!--End contentText-->

                <div id="contentImage">
                    <img src="images/horse_mask_man.jpg" alt="Man In Horse Mask" id="maskMan">
                </div> <!--End contentImage-->

            </div> <!--End content-->

            <!--Footer-->
            <footer id="mainFooter">
                <h2 class="hidden">Main Footer</h2>

                <!-- Footer Navigation-->
                <ul id="footerNav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul> <!--End footerNav-->

                <!--Back to top button-->
                <a href="#" id="backToTop">Back To Top</a>
            </footer> <!--End mainFooter-->
        </div> <!--End container-->
    </main> <!--End main-->

    <script type="module" src="js/main.js"></script>
</body>
</html>